.dropzone {   
    width: 220px;
    height: 220px;
    margin: 10px;
    padding: 10px;
    border: 3px dashed black;
}
.row {
margin: 0px;
height: 220px;
padding: 0px;
}
.col-sm-8 {
    overflow:auto;
    width: 60%;
    
}

body {
	background: url('img/bg5.jpg') no-repeat center center fixed;
	background-color: #444;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-size: 2200px 2500px;
}
.vertical-offset-50{
   	padding-top:50px;
}

.wrapper {
   position: relative;
}
.wrapper .glyphicon {
   position: absolute;
   top: 0px;
   right: 0px;
}

.glyphicon.glyphicon-plus-sign {
    font-size: 30px;
}
#thentext {
   position: relative;
   text-align: left;
   height: 20px;
   left: 80px;
   margin: 0px;
   padding: 0px;
}
#firsttext {
   margin: auto;
   height: 20px;
   position: relative;

}
.col-sm-4 dropzone {   
    width: 220px;
    height: 220px;
    margin: 10px;
    padding: 10px;
    border: 3px dashed black;
}
.col-sm-4 {

}
.then {
    float: left;
    margin: 0px;
}
.then img {
border-top-width: 20px;
}
.panel-body {
min-height: 100%;
max-height: 100%;
}